* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
  font-family: "Karla", sans-serif;
}

.container {
  max-width: 1240px;
  margin: auto;
}

.btn {
  display: inline-block;
  padding: 0.7rem 1.6rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s all;
  border: none;
  outline: none;
}
.btn.btn-primary {
  background: #00afef;
  color: #fff;
}
.btn.btn-primary:hover {
  background: #2586be;
}
.btn.btn-secondary {
  background: none;
  border: 2px solid #d6f4ff;
  color: #373435;
}
.btn.btn-secondary:hover {
  background: #00afef;
  color: #fff;
  border-color: #00afef;
}

#wrapper {
  width: 100%;
  margin: auto;
  position: relative;
}
#wrapper header#header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 0;
  z-index: 10;
  transition: 0.3s all ease;
}
#wrapper header#header.active {
  background: #fff;
}
#wrapper header#header.active .container na.navbar ul.navlinks a {
  color: #fff;
}
#wrapper header#header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#wrapper header#header .container a.logo {
  cursor: pointer;
  flex: 1;
  padding: 0.5rem;
  background-image: url("../assets/logo-white.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  width: 220px;
  height: 55px;
}
#wrapper header#header .container a.logo.active {
  background-image: url("../assets/logo-black.png");
}
#wrapper header#header .container nav.navbar {
  flex: 9;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 5rem;
}
#wrapper header#header .container nav.navbar.active ul.navlinks a {
  color: #000;
}
#wrapper header#header .container nav.navbar.active .action .btn-secondary {
  border-color: #d6f4ff;
  color: #000;
}
#wrapper header#header .container nav.navbar.active .action .btn-secondary:hover {
  color: #fff;
  border-color: #00afef;
}
#wrapper header#header .container nav.navbar ul.navlinks a {
  color: #fff;
  font-weight: 600;
  padding: 0.5rem 0.2rem;
  margin: 0 1rem;
  cursor: pointer;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
}
#wrapper header#header .container nav.navbar ul.navlinks a:hover {
  border-color: #00afef;
}
#wrapper header#header .container nav.navbar .action {
  display: flex;
  gap: 1rem;
}
#wrapper header#header .container nav.navbar .action .btn-secondary {
  border-color: rgba(167, 167, 167, 0.3333333333);
  color: #fff;
}
#wrapper header#header .container nav.navbar .action .btn-secondary:hover {
  border-color: #00afef;
}
#wrapper header#header .container div.menu {
  outline: none;
  background: none;
  border: none;
  position: absolute;
  top: 20%;
  right: 3%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem 0;
  transition: all 0.2s linear;
  z-index: 5;
  cursor: pointer;
}
#wrapper header#header .container div.menu .stroke {
  width: 30px;
  height: 4px;
  border-radius: 9rem;
  background: #fff;
  margin-bottom: 4px;
  transition: all 0.2s linear;
}
#wrapper header#header .container div.menu .text {
  font-size: 0.7rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  color: #fff;
  transition: all 0.2s linear;
}
#wrapper header#header .container div.menu.open .stroke:first-of-type {
  transform: rotate(45deg) translate(0px, -1px);
}
#wrapper header#header .container div.menu.open .stroke:nth-child(2) {
  background: #fff;
  transform: rotate(-45deg) translate(6px, -6px);
}
#wrapper header#header .container div.menu.open .text {
  color: #000;
}
@media only screen and (min-width: 851px) {
  #wrapper header#header .container div.menu {
    display: none;
  }
}
#wrapper section.hero-section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
  background-color: transparent;
  background-image: linear-gradient(25deg, #063485 6%, rgba(33, 85, 149, 0.1215686275) 48%);
  opacity: 1;
}
#wrapper section.hero-section video,
#wrapper section.hero-section img.hero-placeholder {
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
#wrapper section.hero-section .container {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
#wrapper section.hero-section .container .heading-text {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  bottom: 0;
}
#wrapper section.hero-section .container .heading-text h1 {
  max-width: 600px;
  font-size: 3.5rem;
  padding: 1rem;
  font-family: "Abyssinica SIL", san-serif;
  margin-bottom: 1rem;
  color: #fff;
}
#wrapper section.hero-section .container .heading-text .cta-container {
  display: flex;
  gap: 1rem;
}
#wrapper section.services-section {
  margin: 3rem 0;
}
#wrapper section.services-section header.services-header h1 {
  font-size: 3.5rem;
  width: 70%;
  margin: 2rem auto;
  text-align: center;
  font-family: "Abyssinica SIL", sans-serif;
}
#wrapper section.services-section header.services-header p {
  text-align: center;
}
#wrapper section.services-section .services-boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 5rem auto;
}
#wrapper section.services-section .services-boxes .service-box {
  padding: 2rem;
  border-radius: 0.5rem;
  width: 280px;
}
#wrapper section.services-section .services-boxes .service-box.study-visa {
  background: #2d69f0;
}
#wrapper section.services-section .services-boxes .service-box.work-visa {
  background: #dd246e;
}
#wrapper section.services-section .services-boxes .service-box.tourist-visa {
  background: #8007e6;
}
#wrapper section.services-section .services-boxes .service-box.business-visa {
  background: #0cae74;
}
#wrapper section.services-section .services-boxes .service-box .icon {
  padding: 2rem;
}
#wrapper section.services-section .services-boxes .service-box .icon img {
  width: 64px;
}
#wrapper section.services-section .services-boxes .service-box .texts {
  color: #fff;
}
#wrapper section.services-section .services-boxes .service-box .texts h3 {
  font-size: 1.8rem;
  margin-bottom: 1.4rem;
}
#wrapper section.special-section {
  margin: 8rem 0;
}
#wrapper section.special-section .contents {
  display: flex;
  align-items: center;
}
#wrapper section.special-section .contents .left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#wrapper section.special-section .contents .left .main-image {
  height: 440px;
  position: relative;
}
#wrapper section.special-section .contents .left img {
  max-width: 350px;
  border-radius: 0.3rem;
}
#wrapper section.special-section .contents .left p.ratings {
  position: absolute;
  left: -35%;
  top: 20%;
  font-size: 1.2rem;
  transform: rotate(90deg);
}
#wrapper section.special-section .contents .left .join-now {
  position: absolute;
  bottom: 0;
  right: 10%;
}
#wrapper section.special-section .contents .right {
  flex: 1;
}
#wrapper section.special-section .contents .right header.special-section-header h1 {
  font-size: 3rem;
  width: 70%;
  font-family: "Abyssinica SIL", sans-serif;
}
#wrapper section.special-section .contents .right header.special-section-header h1 span {
  color: #00afef;
  font-family: "Abyssinica SIL", sans-serif;
}
#wrapper section.special-section .contents .right header.special-section-header p {
  width: 60%;
  margin: 2rem 0;
}
#wrapper section.platform-section {
  height: 100vh;
  width: 100%;
  margin: 8rem 0;
}
#wrapper section.platform-section .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
#wrapper section.platform-section .container header h1 {
  font-size: 3rem;
  text-align: center;
  font-family: "Abyssinica SIL", sans-serif;
  width: 70%;
  margin: 0 auto;
}
#wrapper section.platform-section .container header p {
  width: 60%;
  text-align: center;
  margin: 2rem auto;
}
#wrapper section.platform-section .container .splide {
  width: 80%;
}
#wrapper section.platform-section .container .splide .splide__slide {
  color: #000;
}
#wrapper section.platform-section .container .splide .splide__slide .box {
  width: 100%;
  height: 450px;
  background: #00afef;
}
#wrapper section.platform-section .container .splide .splide__slide .contents {
  display: flex;
  align-items: center;
  gap: 3rem;
  border-radius: 0.5rem;
  padding: 2rem;
}
#wrapper section.platform-section .container .splide .splide__slide .contents .img {
  height: 380px;
  border-radius: 0.5rem;
  flex: 1;
  display: flex;
  justify-content: end;
}
#wrapper section.platform-section .container .splide .splide__slide .contents .img img {
  max-width: 350px;
  border-radius: 0.3rem;
  -o-object-fit: contain;
     object-fit: contain;
}
#wrapper section.platform-section .container .splide .splide__slide .contents .texts {
  flex: 2.3;
}
#wrapper section.platform-section .container .splide .splide__slide .contents h3 {
  font-size: 2.5rem;
}
#wrapper section.platform-section .container .splide .splide__slide .contents p {
  margin: 2rem 0;
  width: 80%;
}
#wrapper section.get-started {
  margin: 5rem 0;
}
#wrapper section.get-started header.get-started-header h1 {
  font-size: 3rem;
  font-family: "Abyssinica SIL", sans-serif;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  word-spacing: -0.3rem;
}
#wrapper section.get-started header.get-started-header p {
  margin: 2rem auto;
  width: 60%;
  text-align: center;
}
#wrapper section.get-started .categories {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin: 3rem auto;
}
#wrapper section.get-started .categories .category {
  width: 400px;
  height: 250px;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #00afef;
}
#wrapper section.get-started .categories .category h1 {
  color: #fff;
  margin: 1rem 0;
}
#wrapper section.get-started .categories .category .btn {
  color: #fff;
}
#wrapper section.get-started .categories .category .btn:hover {
  background: #fff;
  color: #000;
  border-color: #fff;
}/*# sourceMappingURL=style.css.map */