@font-face {
  font-family: themeFont;
  src: local("themeFont"), url("../assets/fonts/Poppins-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: themeFont;
  src: local("themeFont"), url("../assets/fonts/Poppins-Medium.ttf");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: themeFont;
  src: local("themeFont"), url("../assets/fonts/Poppins-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
}
* {
  font-family: themeFont;
  color: #373435;
}

h1 {
  font-size: 3rem;
  font-family: themeFont;
}
@media only screen and (max-width: 851px) {
  h1 {
    font-size: 2.5rem;
    line-height: 1.1;
  }
}

h2 {
  font-size: 2.5rem;
}
@media only screen and (max-width: 851px) {
  h2 {
    font-size: 1.9rem;
  }
}

h3 {
  font-size: 1.8rem;
}
@media only screen and (max-width: 851px) {
  h3 {
    font-size: 1.2rem;
  }
}

h4 {
  font-size: 1.2rem;
}
@media only screen and (max-width: 851px) {
  h4 {
    font-size: 1rem;
  }
}

p {
  font-size: 1rem;
}

#wrapper section.introduction-section .introduction-section-content {
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
@media only screen and (max-width: 850px) {
  #wrapper section.introduction-section .introduction-section-content {
    flex-direction: column-reverse;
  }
}
#wrapper section.introduction-section .introduction-section-content .texts {
  flex: 1;
}
#wrapper section.introduction-section .introduction-section-content .texts header.introduction-section-header h1 {
  width: 75%;
}
@media only screen and (max-width: 850px) {
  #wrapper section.introduction-section .introduction-section-content .texts header.introduction-section-header h1 {
    width: 100%;
  }
}
#wrapper section.introduction-section .introduction-section-content .texts header.introduction-section-header p {
  margin: 1.5rem 0;
  width: 70%;
}
@media only screen and (max-width: 850px) {
  #wrapper section.introduction-section .introduction-section-content .texts header.introduction-section-header p {
    width: 100%;
  }
}
#wrapper section.introduction-section .introduction-section-content .introduction-section-media {
  width: 45%;
}
@media only screen and (max-width: 850px) {
  #wrapper section.introduction-section .introduction-section-content .introduction-section-media {
    width: 100%;
  }
}
#wrapper section.introduction-section .introduction-section-content .introduction-section-media img {
  width: 100%;
}
#wrapper section.keypoints-section {
  background: #effbff;
  padding: 2rem 1rem;
}
#wrapper section.keypoints-section .keypoints-section-contents {
  width: 90%;
  margin: auto;
  display: flex;
  gap: 3rem;
}
@media only screen and (max-width: 850px) {
  #wrapper section.keypoints-section .keypoints-section-contents {
    width: 100%;
    flex-direction: column;
  }
}
#wrapper section.keypoints-section .keypoints-section-contents .keypoint {
  display: flex;
  gap: 1rem;
  flex: 1;
}
#wrapper section.keypoints-section .keypoints-section-contents .keypoint img {
  width: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}
#wrapper section.keypoints-section .keypoints-section-contents .keypoint h5 {
  font-size: 0.7rem;
  font-weight: 300;
}
#wrapper section.keypoints-section .keypoints-section-contents .keypoint h3 {
  font-size: 1rem;
  line-height: 1;
  margin: 0.5rem 0;
}
#wrapper section.keypoints-section .keypoints-section-contents .keypoint p {
  font-size: 0.8rem;
}
#wrapper section.why-us-section {
  padding: 2rem 1rem;
}
#wrapper section.why-us-section .why-us-section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#wrapper section.why-us-section .why-us-section-content .why-us-section-header {
  margin: 0 0 1rem 0;
}
#wrapper section.why-us-section .why-us-section-content .why-us-section-media img {
  width: 100%;
}
#wrapper section.why-us-section .why-us-section-content .why-us-section-features {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 850px) {
  #wrapper section.why-us-section .why-us-section-content .why-us-section-features {
    flex-direction: column;
  }
}
#wrapper section.why-us-section .why-us-section-content .why-us-section-features .feature {
  width: 30%;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
@media only screen and (max-width: 850px) {
  #wrapper section.why-us-section .why-us-section-content .why-us-section-features .feature {
    width: 100%;
  }
}
#wrapper section.why-us-section .why-us-section-content .why-us-section-features .feature h3 {
  font-size: 1.3rem;
  line-height: 1;
  margin: 0.5rem 0;
}
#wrapper section.why-us-section .why-us-section-content .why-us-section-features .feature p {
  font-size: 0.8rem;
}
#wrapper section.call-to-action-banner {
  padding: 2rem 1rem;
  display: grid;
  place-content: center;
}
#wrapper section.call-to-action-banner .call-to-action-banner-content {
  background: #00afef;
  padding: 6rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
@media only screen and (max-width: 850px) {
  #wrapper section.call-to-action-banner .call-to-action-banner-content {
    flex-direction: column;
    padding: 3rem;
    margin: auto;
  }
}
#wrapper section.call-to-action-banner .call-to-action-banner-content .text {
  flex: 6;
}
@media only screen and (max-width: 850px) {
  #wrapper section.call-to-action-banner .call-to-action-banner-content .text {
    width: 100%;
  }
}
#wrapper section.call-to-action-banner .call-to-action-banner-content .text h3,
#wrapper section.call-to-action-banner .call-to-action-banner-content .text h5 {
  line-height: 1;
  color: #fff;
}
#wrapper section.call-to-action-banner .call-to-action-banner-content .text h5 {
  margin-bottom: 1rem;
}
#wrapper section.call-to-action-banner .call-to-action-banner-content .text h3 {
  width: 80%;
}
@media only screen and (max-width: 850px) {
  #wrapper section.call-to-action-banner .call-to-action-banner-content .text h3 {
    width: 100%;
  }
}
#wrapper section.call-to-action-banner .call-to-action-banner-content .cta {
  flex: 2;
}
#wrapper section.call-to-action-banner .call-to-action-banner-content .cta .btn {
  background: #fff;
  color: #00afef;
}
#wrapper section.call-to-action-banner .call-to-action-banner-content .cta .btn:hover {
  background: #373435;
}
#wrapper .how-it-works-section {
  padding: 2rem 0;
}
#wrapper .how-it-works-section .how-it-works-section-content .how-it-works-section-header {
  text-align: center;
  margin-bottom: 2rem;
}
#wrapper .how-it-works-section .how-it-works-section-content .steps {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
#wrapper .how-it-works-section .how-it-works-section-content .steps .step {
  width: 300px;
  text-align: center;
}
#wrapper .how-it-works-section .how-it-works-section-content .steps .step h5 {
  color: #00afef;
}
#wrapper .how-it-works-section .how-it-works-section-content .btn {
  display: block;
  margin: 3rem auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
#wrapper .how-it-works-section .how-it-works-section-content .btn:hover {
  background: #bcedff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

.container {
  max-width: 1240px;
  margin: auto;
}

.btn {
  display: inline-block;
  padding: 0.7rem 1.6rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  transition: 0.3s all;
  border: none;
  outline: none;
}
.btn.btn-primary {
  background: #00afef;
  color: #fff;
}
.btn.btn-primary:hover {
  background: #fff;
  color: #000;
  border-color: #fff;
}
.btn.btn-secondary {
  background: none;
  border: 2px solid #d6f4ff;
  color: #373435;
}
.btn.btn-secondary:hover {
  background: #00afef;
  color: #fff;
  border-color: #00afef;
}

#wrapper {
  width: 100%;
  margin: auto;
  position: relative;
}
#wrapper header.main-header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem 0;
  z-index: 99;
  transition: 0.3s ease-in-out;
}
#wrapper header.main-header.active {
  position: fixed;
  background: #fff;
  -webkit-animation: fix 0.3s ease-in-out;
          animation: fix 0.3s ease-in-out;
}
@-webkit-keyframes fix {
  from {
    top: -90px;
  }
  to {
    top: 0;
  }
}
@keyframes fix {
  from {
    top: -90px;
  }
  to {
    top: 0;
  }
}
#wrapper header.main-header.active .container na.navbar ul.navlinks a {
  color: #fff;
}
#wrapper header.main-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 851px) {
  #wrapper header.main-header .container {
    display: grid;
    place-content: center;
  }
}
#wrapper header.main-header .container a.logo {
  cursor: pointer;
  flex: 1;
  padding: 0.5rem;
  display: block;
  background-image: url("../assets/logo-white.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  width: 220px;
  height: 55px;
}
#wrapper header.main-header .container a.logo.active {
  background-image: url("../assets/logo-black.png");
}
#wrapper header.main-header .container nav.navbar {
  flex: 9;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 5rem;
}
@media only screen and (max-width: 851px) {
  #wrapper header.main-header .container nav.navbar {
    position: fixed;
    left: 0;
    top: -100vh;
    height: 92.5vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    background: #effbff;
    transition: 0.4s ease-in-out;
  }
}
#wrapper header.main-header .container nav.navbar.active ul.navlinks a {
  color: #000;
}
#wrapper header.main-header .container nav.navbar.active .action .btn-secondary {
  border-color: #d6f4ff;
  color: #000;
}
#wrapper header.main-header .container nav.navbar.active .action .btn-secondary:hover {
  color: #fff;
  border-color: #00afef;
}
@media only screen and (max-width: 851px) {
  #wrapper header.main-header .container nav.navbar ul.navlinks {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
#wrapper header.main-header .container nav.navbar ul.navlinks a {
  color: #fff;
  font-weight: 600;
  padding: 0.5rem 0.2rem;
  margin: 0 1rem;
  cursor: pointer;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
}
@media only screen and (max-width: 851px) {
  #wrapper header.main-header .container nav.navbar ul.navlinks a {
    color: #000;
  }
}
#wrapper header.main-header .container nav.navbar ul.navlinks a:hover {
  border-color: #00afef;
}
#wrapper header.main-header .container nav.navbar .action {
  display: flex;
  gap: 1rem;
}
#wrapper header.main-header .container nav.navbar .action .btn-secondary {
  border-color: rgba(167, 167, 167, 0.3333333333);
  color: #fff;
}
@media only screen and (max-width: 851px) {
  #wrapper header.main-header .container nav.navbar .action .btn-secondary {
    color: #000;
  }
}
#wrapper header.main-header .container nav.navbar .action .btn-secondary:hover {
  border-color: #00afef;
}
#wrapper header.main-header .container div.menu {
  outline: none;
  background: none;
  border: none;
  position: absolute;
  top: 20%;
  right: 3%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem 0;
  transition: all 0.2s linear;
  z-index: 5;
  cursor: pointer;
}
#wrapper header.main-header .container div.menu.active .stroke {
  background: #373435;
}
#wrapper header.main-header .container div.menu.active .text {
  color: #373435;
}
#wrapper header.main-header .container div.menu .stroke {
  width: 32px;
  height: 3px;
  border-radius: 9rem;
  background: #fff;
  margin-bottom: 4px;
  transition: all 0.2s linear;
}
#wrapper header.main-header .container div.menu .text {
  font-size: 0.7rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  color: #fff;
  transition: all 0.2s linear;
}
#wrapper header.main-header .container div.menu.open .stroke:first-of-type {
  transform: rotate(45deg) translate(0px, -1px);
}
#wrapper header.main-header .container div.menu.open .stroke:nth-child(2) {
  background: #00afef;
  transform: rotate(-45deg) translate(6px, -6px);
}
#wrapper header.main-header .container div.menu.open .text {
  color: #000;
}
@media only screen and (min-width: 851px) {
  #wrapper header.main-header .container div.menu {
    display: none;
  }
}
#wrapper section.hero-section {
  width: 100%;
  height: 100vh;
  max-height: 1200px;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
  background-color: transparent;
  background-image: linear-gradient(25deg, #063485 6%, rgba(33, 85, 149, 0.1215686275) 48%);
  opacity: 1;
}
#wrapper section.hero-section video,
#wrapper section.hero-section img.hero-placeholder {
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
#wrapper section.hero-section .container {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
#wrapper section.hero-section .container .heading-text {
  position: absolute;
  bottom: 10%;
  left: 0;
  width: 100%;
}
#wrapper section.hero-section .container .heading-text h1 {
  max-width: 600px;
  padding: 1rem;
  margin-bottom: 1rem;
  color: #fff;
  line-height: 1;
}
#wrapper section.hero-section .container .heading-text .cta-container {
  padding: 1rem;
}
#wrapper section.hero-section .container .heading-text .cta-container .btn:first-of-type {
  margin-right: 0.2rem;
}
#wrapper section.services-section {
  margin: 2rem 0;
}
#wrapper section.services-section header.services-header {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}
#wrapper section.services-section header.services-header h1 {
  margin: 1rem auto;
  text-align: center;
}
#wrapper section.services-section header.services-header p {
  text-align: center;
}
#wrapper section.services-section .services-boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 3rem auto;
}
#wrapper section.services-section .services-boxes .service-box {
  padding: 2rem;
  border-radius: 0.5rem;
  max-width: 290px;
}
#wrapper section.services-section .services-boxes .service-box.study-abroad {
  background: #2d69f0;
}
#wrapper section.services-section .services-boxes .service-box.travel-insurance {
  background: #dd246e;
}
#wrapper section.services-section .services-boxes .service-box.e-visa {
  background: #8007e6;
}
#wrapper section.services-section .services-boxes .service-box.flight-hotel-booking {
  background: #0cae74;
}
#wrapper section.services-section .services-boxes .service-box .icon {
  padding: 2rem;
}
#wrapper section.services-section .services-boxes .service-box .icon img {
  width: 64px;
}
#wrapper section.services-section .services-boxes .service-box .texts {
  color: #fff;
}
#wrapper section.services-section .services-boxes .service-box .texts h4 {
  margin-bottom: 1.4rem;
  color: #fff;
}
#wrapper section.services-section .services-boxes .service-box .texts p {
  color: #fff;
}
#wrapper section.about-section {
  margin: 5rem 0;
}
#wrapper section.about-section .contents {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 851px) {
  #wrapper section.about-section .contents {
    flex-direction: column;
  }
}
#wrapper section.about-section .contents .left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
@media only screen and (max-width: 851px) {
  #wrapper section.about-section .contents .left {
    width: 90%;
    margin: 0 auto 2rem;
  }
}
#wrapper section.about-section .contents .left .main-image {
  height: 440px;
  position: relative;
}
#wrapper section.about-section .contents .left img {
  max-width: 350px;
  border-radius: 0.3rem;
}
#wrapper section.about-section .contents .left p.ratings {
  position: absolute;
  left: -35%;
  top: 20%;
  font-size: 1.2rem;
  transform: rotate(90deg);
}
#wrapper section.about-section .contents .left .join-now {
  position: absolute;
  bottom: 0;
  right: 10%;
}
#wrapper section.about-section .contents .right {
  flex: 1;
}
@media only screen and (max-width: 851px) {
  #wrapper section.about-section .contents .right {
    width: 80%;
    margin: auto;
  }
}
@media only screen and (max-width: 851px) {
  #wrapper section.about-section .contents .right header.about-section-header h1 {
    text-align: center;
  }
}
#wrapper section.about-section .contents .right header.about-section-header h1 span {
  color: #00afef;
}
#wrapper section.about-section .contents .right header.about-section-header p {
  width: 80%;
  margin: 2rem 0;
  text-align: justify;
}
@media only screen and (max-width: 851px) {
  #wrapper section.about-section .contents .right header.about-section-header p {
    width: 100%;
  }
}
#wrapper section.platforms-section {
  width: 100%;
  background: #effbff;
}
#wrapper section.platforms-section .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5rem 0;
}
#wrapper section.platforms-section .container header.platform-header {
  width: 90%;
  margin: 0 auto;
}
#wrapper section.platforms-section .container header.platform-header h1 {
  text-align: center;
}
#wrapper section.platforms-section .container header.platform-header p {
  text-align: center;
  margin: 1rem auto;
}
#wrapper section.platforms-section .container #platform-slider {
  width: 80%;
}
@media only screen and (max-width: 850px) {
  #wrapper section.platforms-section .container #platform-slider {
    width: 98%;
  }
}
#wrapper section.platforms-section .container #platform-slider .glide__arrow img {
  width: 32px;
}
#wrapper section.platforms-section .container #platform-slider .glide__progress__bar {
  height: 2px;
  background: #00afef;
  border-radius: 0.5rem;
}
#wrapper section.platforms-section .container #platform-slider .glide__slide {
  align-self: stretch;
}
#wrapper section.platforms-section .container #platform-slider .glide__slide .contents {
  display: flex;
  align-items: center;
  gap: 3rem;
  width: 99%;
  flex-shrink: none;
  background: #00afef;
  border-radius: 0.5rem;
  padding: 2rem;
}
@media only screen and (max-width: 850px) {
  #wrapper section.platforms-section .container #platform-slider .glide__slide .contents {
    width: 100%;
  }
}
@media only screen and (max-width: 850px) {
  #wrapper section.platforms-section .container #platform-slider .glide__slide .contents {
    flex-direction: column;
  }
}
#wrapper section.platforms-section .container #platform-slider .glide__slide .contents .img {
  flex: 1;
}
#wrapper section.platforms-section .container #platform-slider .glide__slide .contents .img img {
  max-width: 350px;
  border-radius: 0.3rem;
  -o-object-fit: contain;
     object-fit: contain;
}
@media only screen and (max-width: 850px) {
  #wrapper section.platforms-section .container #platform-slider .glide__slide .contents .img img {
    max-width: 100%;
  }
}
#wrapper section.platforms-section .container #platform-slider .glide__slide .contents .texts {
  flex: 2.3;
  color: #fff;
}
#wrapper section.platforms-section .container #platform-slider .glide__slide .contents .texts a.btn:hover {
  background: #fff;
  color: #000;
}
#wrapper section.platforms-section .container #platform-slider .glide__slide .contents h2 {
  color: #fff;
}
#wrapper section.platforms-section .container #platform-slider .glide__slide .contents p {
  margin: 2rem 0;
  width: 80%;
  color: #fff;
}
#wrapper section.get-started-section {
  margin: 2rem 0;
}
#wrapper section.get-started-section header.get-started-header {
  width: 70%;
  margin: auto;
}
@media only screen and (max-width: 851px) {
  #wrapper section.get-started-section header.get-started-header {
    width: 90%;
  }
}
#wrapper section.get-started-section header.get-started-header h1 {
  text-align: center;
  line-height: 1.1;
}
#wrapper section.get-started-section header.get-started-header p {
  margin: 1rem auto;
  text-align: center;
}
#wrapper section.get-started-section .categories {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin: 3rem auto;
}
@media only screen and (max-width: 851px) {
  #wrapper section.get-started-section .categories {
    flex-direction: column;
  }
}
#wrapper section.get-started-section .categories .category {
  width: 400px;
  height: 250px;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.3137254902);
  transition: 0.3s;
  position: relative;
  overflow: hidden;
}
#wrapper section.get-started-section .categories .category:hover {
  background: rgba(0, 0, 0, 0.5019607843);
}
#wrapper section.get-started-section .categories .category img {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  transition: 0.3s;
}
#wrapper section.get-started-section .categories .category h3 {
  text-align: center;
  color: #fff;
  margin: 1rem 0;
}
#wrapper section.get-started-section .categories .category .btn {
  border: 2px solid rgba(255, 255, 255, 0.3137254902);
  color: #fff;
}
#wrapper section.get-started-section .categories .category .btn:hover {
  background: #fff;
  color: #000;
  border-color: #fff;
}
#wrapper section.get-started-section .categories .category .btn:hover + img {
  transform: scale(1.1);
}
#wrapper section.why-us {
  color: #373435;
}
#wrapper section.why-us .content {
  background: #00afef;
}
#wrapper section.milestones-section {
  margin: 2rem auto;
}
#wrapper section.milestones-section header.milestones-header {
  width: 100%;
  margin: auto;
}
@media only screen and (max-width: 851px) {
  #wrapper section.milestones-section header.milestones-header {
    width: 90%;
  }
}
#wrapper section.milestones-section header.milestones-header h1 {
  text-align: center;
}
#wrapper section.milestones-section header.milestones-header p {
  text-align: center;
  margin: 1rem 0;
}
#wrapper section.milestones-section .milestones-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
@media only screen and (max-width: 851px) {
  #wrapper section.milestones-section .milestones-container {
    padding: 2rem;
  }
}
#wrapper section.milestones-section .milestones-container .milestone {
  width: 200px;
  max-width: 350px;
  margin: 3rem 0;
}
@media only screen and (max-width: 851px) {
  #wrapper section.milestones-section .milestones-container .milestone {
    width: 45%;
  }
}
#wrapper section.milestones-section .milestones-container .milestone img {
  width: 48px;
}
#wrapper section.milestones-section .milestones-container .milestone .texts {
  margin: 1rem 0;
}
#wrapper section.milestones-section .milestones-container .milestone .texts h3 {
  margin-bottom: 0.5rem;
}
#wrapper section.milestones-section .milestones-container .milestone .texts p {
  font-size: 1.2rem;
}
#wrapper section.testimonials-section {
  margin: 2rem auto;
  background: #effbff;
}
#wrapper section.testimonials-section header.testimonials-header {
  width: 90%;
  margin: auto;
}
#wrapper section.testimonials-section header.testimonials-header h1 {
  padding: 1rem 0;
  text-align: center;
}
#wrapper section.testimonials-section header.testimonials-header p {
  text-align: center;
}
#wrapper section.testimonials-section .my-slider-progress {
  background: #ccc;
}
#wrapper section.testimonials-section .my-slider-progress-bar {
  background: greenyellow;
  height: 2px;
  transition: width 400ms ease;
  width: 0;
}
#wrapper section.testimonials-section div#testimonies-slides {
  width: 100%;
  display: grid;
  place-content: center;
}
#wrapper section.testimonials-section div#testimonies-slides ul.testimonies {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 5rem;
  padding-left: 6rem;
}
#wrapper section.testimonials-section div#testimonies-slides ul.testimonies .glide__slide {
  flex-shrink: inherit;
}
@media only screen and (max-width: 850px) {
  #wrapper section.testimonials-section div#testimonies-slides ul.testimonies .glide__slide {
    margin-left: 1rem;
    flex-shrink: 0;
  }
}
#wrapper section.testimonials-section div#testimonies-slides ul.testimonies .testimony {
  display: block;
  border-radius: 0.3rem;
  box-shadow: 8px 10px 25px rgba(0, 0, 0, 0.3137254902);
  background: #fff;
  width: 90%;
}
#wrapper section.testimonials-section div#testimonies-slides ul.testimonies .testimony .testimony-text {
  padding: 2rem;
  padding-bottom: 1rem;
  border-radius: 0.3rem;
  position: relative;
}
#wrapper section.testimonials-section div#testimonies-slides ul.testimonies .testimony .testimony-text p {
  z-index: 5;
}
#wrapper section.testimonials-section div#testimonies-slides ul.testimonies .testimony .testimony-text img.quote-close {
  position: absolute;
  right: 6%;
  bottom: -25%;
  z-index: -2;
  opacity: 0.5;
}
#wrapper section.testimonials-section div#testimonies-slides ul.testimonies .testimony .client-deatails {
  padding: 2rem;
  padding-top: 1rem;
}
#wrapper section.testimonials-section div#testimonies-slides ul.testimonies .testimony .client-deatails .profile-image {
  margin-bottom: 1rem;
}
#wrapper section.testimonials-section div#testimonies-slides ul.testimonies .testimony .client-deatails .profile-image img {
  width: 64px;
  margin: auto;
  display: block;
}
#wrapper section.testimonials-section div#testimonies-slides ul.testimonies .testimony .client-deatails h4 {
  text-align: center;
}
#wrapper section.testimonials-section div#testimonies-slides ul.testimonies .testimony .client-deatails p {
  text-align: center;
  color: #777;
}
#wrapper section.testimonials-section div#testimonies-slides ul.testimonies .testimony .client-deatails p.location {
  font-size: 0.8rem;
  color: #666;
  font-weight: 500;
  font-style: italic;
}
#wrapper section.blog-section {
  margin: 2rem 0;
}
#wrapper section.blog-section header.blog-section-header {
  width: 70%;
  margin: auto;
}
@media only screen and (max-width: 851px) {
  #wrapper section.blog-section header.blog-section-header {
    width: 90%;
  }
}
#wrapper section.blog-section header.blog-section-header h1 {
  text-align: center;
}
#wrapper section.blog-section header.blog-section-header p {
  margin: 1rem 0;
  text-align: center;
}
#wrapper section.blog-section .blogs-container {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
@media only screen and (max-width: 851px) {
  #wrapper section.blog-section .blogs-container {
    flex-direction: column;
  }
}
#wrapper section.blog-section .blogs-container .blog {
  max-width: 400px;
  border-radius: 0.3rem;
  background: #fbfbfb;
  box-shadow: 8px 14px 25px rgba(0, 0, 0, 0.1725490196);
}
#wrapper section.blog-section .blogs-container .blog:hover .blog-banner img {
  transform: scale(1.1);
}
#wrapper section.blog-section .blogs-container .blog .blog-banner {
  width: 100%;
  height: 170px;
  border-radius: 0.3rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  overflow: hidden;
}
#wrapper section.blog-section .blogs-container .blog .blog-banner img {
  width: 100%;
  transition: 0.3s ease-in-out;
}
#wrapper section.blog-section .blogs-container .blog .blog-body {
  padding: 2rem;
}
#wrapper section.blog-section .blogs-container .blog .blog-body header.blog-header {
  display: flex;
  position: relative;
}
#wrapper section.blog-section .blogs-container .blog .blog-body header.blog-header a.blog-title {
  font-size: 1.5rem;
  width: 80%;
  font-weight: 600;
  color: #000;
  transition: 0.3s all;
}
#wrapper section.blog-section .blogs-container .blog .blog-body header.blog-header a.blog-title:hover {
  color: #2d69f0;
  text-decoration: underline;
}
#wrapper section.blog-section .blogs-container .blog .blog-body header.blog-header .blog-date {
  position: absolute;
  bottom: 10%;
  right: 6%;
}
#wrapper section.blog-section .blogs-container .blog .blog-body header.blog-header .blog-date p {
  color: #373435;
  font-size: 0.8rem;
  font-style: italic;
  font-weight: 600;
}
#wrapper section.blog-section .blogs-container .blog .blog-info {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#wrapper section.blog-section .blogs-container .blog .blog-info .blog-tag {
  font-size: 0.8rem;
  font-weight: 700;
  margin-right: 0.3rem;
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
}
#wrapper section.blog-section .blogs-container .blog .blog-info .blog-tag.business {
  color: #0cae74;
  background: rgba(12, 174, 116, 0.1254901961);
}
#wrapper section.blog-section .blogs-container .blog .blog-info .blog-tag.work {
  color: #dd246e;
  background: rgba(221, 36, 110, 0.1254901961);
}
#wrapper section.blog-section .blogs-container .blog .blog-info .blog-tag.tourist {
  color: #8007e6;
  background: rgba(12, 174, 116, 0.1254901961);
}
#wrapper section.blog-section .blogs-container .blog .blog-info .blog-tag.study {
  color: #2d69f0;
  background: rgba(45, 105, 240, 0.1254901961);
}
#wrapper section.blog-section .blogs-container .blog .blog-info .author {
  font-size: 0.9rem;
  font-weight: 700;
  color: #2d69f0;
  cursor: pointer;
}
#wrapper section.blog-section .btn {
  display: block;
  margin: 3rem 0 0 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
#wrapper section.contact-section {
  margin-top: 4rem;
}
#wrapper section.contact-section header.contact-section-header {
  text-align: center;
}
@media only screen and (max-width: 851px) {
  #wrapper section.contact-section header.contact-section-header {
    width: 90%;
    margin: auto;
  }
}
#wrapper section.contact-section header.contact-section-header h1 {
  line-height: 1;
  margin-bottom: 1rem;
}
#wrapper section.contact-section .content {
  display: flex;
  padding: 2rem 0;
  align-items: center;
}
@media only screen and (max-width: 851px) {
  #wrapper section.contact-section .content {
    flex-direction: column;
  }
}
#wrapper section.contact-section .content .left-segment {
  width: 50%;
  margin: auto;
}
@media only screen and (max-width: 851px) {
  #wrapper section.contact-section .content .left-segment {
    width: 100%;
    margin: auto;
  }
}
#wrapper section.contact-section .content .left-segment form h3 {
  margin-bottom: 2.5rem;
  padding: 0 5%;
}
#wrapper section.contact-section .content .left-segment form .input {
  width: 100%;
}
#wrapper section.contact-section .content .left-segment form .input label {
  font-size: 1.2rem;
  display: block;
  margin-bottom: 0.5rem;
  margin-left: 5%;
}
#wrapper section.contact-section .content .left-segment form .input input,
#wrapper section.contact-section .content .left-segment form .input textarea,
#wrapper section.contact-section .content .left-segment form .input select {
  display: block;
  width: 90%;
  margin: auto;
  padding: 1rem;
  margin-bottom: 1.5rem;
  outline: none;
  border: 1px solid #00afef;
  border-radius: 0.3rem;
  font-size: 1rem;
  resize: none;
}
#wrapper section.contact-section .content .left-segment form .input input:focus,
#wrapper section.contact-section .content .left-segment form .input textarea:focus,
#wrapper section.contact-section .content .left-segment form .input select:focus {
  background: #effbff;
}
#wrapper section.contact-section .content .left-segment form .input.name input {
  text-transform: capitalize;
}
#wrapper section.contact-section .content .left-segment form .input.message textarea {
  height: 150px;
}
#wrapper section.contact-section .content .left-segment form button.btn-form {
  display: block;
  width: 90%;
  margin: auto;
  text-transform: uppercase;
  border: 2px solid #00afef;
}
#wrapper section.contact-section .content .left-segment form button.btn-form:hover {
  border: 2px solid #00afef;
}
#wrapper section.contact-section .content .right-segment {
  width: 50%;
  height: 100%;
  border-left: 1px solid #e0dada;
  padding: 5rem 2rem;
}
@media only screen and (max-width: 851px) {
  #wrapper section.contact-section .content .right-segment {
    width: 100%;
    margin: auto;
    border: none;
  }
}
#wrapper section.contact-section .content .right-segment h2 {
  text-align: center;
  margin-bottom: 2rem;
  text-transform: capitalize;
}
#wrapper section.contact-section .content .right-segment li.glide__slide {
  background: #effbff;
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 850px) {
  #wrapper section.contact-section .content .right-segment li.glide__slide img {
    width: 64px;
    margin-right: 1rem;
  }
}
#wrapper section.contact-section .content .right-segment li.glide__slide h4 {
  text-align: center;
  font-weight: 500;
}
#wrapper footer.main-footer {
  padding: 1rem;
  width: 100%;
  background: #00afef;
  color: #fff;
}
#wrapper footer.main-footer .container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 3rem;
}
@media only screen and (max-width: 851px) {
  #wrapper footer.main-footer .container {
    flex-direction: column;
  }
}
#wrapper footer.main-footer .container .footer-top {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding-bottom: 5rem;
  border-bottom: 1px solid #373435;
}
@media only screen and (max-width: 850px) {
  #wrapper footer.main-footer .container .footer-top {
    flex-direction: column;
  }
}
#wrapper footer.main-footer .container .footer-top .company {
  flex: 1.1;
}
#wrapper footer.main-footer .container .footer-top .company .logo a.logo {
  display: block;
  cursor: pointer;
  background-image: url("../assets/logo-black.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  width: 220px;
  height: 55px;
}
#wrapper footer.main-footer .container .footer-top .company p {
  margin: 1.4rem 0;
  color: #fff;
}
#wrapper footer.main-footer .container .footer-top .company .social-icons {
  display: flex;
  gap: 0.6rem;
  align-items: center;
}
#wrapper footer.main-footer .container .footer-top .company .social-icons .social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem;
  border-radius: 0.3rem;
  transition: 0.3s all;
}
#wrapper footer.main-footer .container .footer-top .company .social-icons .social-icon.youtube {
  background-color: #fc1212;
}
#wrapper footer.main-footer .container .footer-top .company .social-icons .social-icon.youtube:hover {
  background: rgba(252, 18, 18, 0.8156862745);
}
#wrapper footer.main-footer .container .footer-top .company .social-icons .social-icon.instagram {
  background-color: #dd246e;
}
#wrapper footer.main-footer .container .footer-top .company .social-icons .social-icon.instagram:hover {
  background: rgba(221, 36, 110, 0.8156862745);
}
#wrapper footer.main-footer .container .footer-top .company .social-icons .social-icon.website {
  background-color: #0cae74;
}
#wrapper footer.main-footer .container .footer-top .company .social-icons .social-icon.website:hover {
  background: #018859;
}
#wrapper footer.main-footer .container .footer-top .company .social-icons .social-icon.facebook {
  background-color: #2d69f0;
}
#wrapper footer.main-footer .container .footer-top .company .social-icons .social-icon.facebook:hover {
  background: #063bb6;
}
#wrapper footer.main-footer .container .footer-top .company .social-icons .social-icon img {
  width: 20px;
}
#wrapper footer.main-footer .container .footer-top .immigration h2.header,
#wrapper footer.main-footer .container .footer-top .quick-links h2.header,
#wrapper footer.main-footer .container .footer-top .newsletter h2.header {
  font-size: 1.8rem;
  margin-bottom: 2.5rem;
  color: #fff;
}
#wrapper footer.main-footer .container .footer-top .immigration .links a,
#wrapper footer.main-footer .container .footer-top .quick-links .links a,
#wrapper footer.main-footer .container .footer-top .newsletter .links a {
  color: #fff;
  display: block;
  padding: 0.1rem;
  margin: 0.6rem 0;
  transition: 0.3s;
}
#wrapper footer.main-footer .container .footer-top .immigration .links a:hover,
#wrapper footer.main-footer .container .footer-top .quick-links .links a:hover,
#wrapper footer.main-footer .container .footer-top .newsletter .links a:hover {
  color: #000;
  transform: translateX(0.6rem);
}
#wrapper footer.main-footer .container .footer-top .newsletter {
  flex: 1.8;
}
#wrapper footer.main-footer .container .footer-top .newsletter p {
  color: #fff;
}
#wrapper footer.main-footer .container .footer-top .newsletter form {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}
#wrapper footer.main-footer .container .footer-top .newsletter form input {
  padding: 1rem 1.5rem;
  outline: none;
  border: 1px solid #fff;
  font-size: 1.1rem;
  border-right: none;
  background: none;
  width: 85%;
  height: 52px;
  border-radius: 0.3rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: #fff;
}
#wrapper footer.main-footer .container .footer-top .newsletter form button {
  width: 15%;
  background: #373435;
  outline: none;
  border-radius: 0.3rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 52px;
  border: 1px solid #fff;
  border-left: none;
  padding: 0.8rem;
  cursor: pointer;
  transition: 0.3s all;
}
#wrapper footer.main-footer .container .footer-top .newsletter form button:hover {
  background: #0abdff;
}
#wrapper footer.main-footer .container .footer-top .newsletter form button:hover img {
  transform: scale(1.3);
}
#wrapper footer.main-footer .container .footer-top .newsletter form button img {
  width: 20px;
  transition: 0.3s all;
}
#wrapper footer.main-footer .container .copyright {
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
}
@media only screen and (max-width: 850px) {
  #wrapper footer.main-footer .container .copyright {
    font-size: 1rem;
    padding: 0 0 5rem 0;
  }
}/*# sourceMappingURL=style.css.map */