#wrapper {
  // ----------------------------------------------------------
  // 03 introduction section
  // ----------------------------------------------------------
  section.introduction-section {
    .introduction-section-content {
      padding: 2rem 0;

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;

      header.introduction-section-header {
        flex: 1;

        h1 {
          width: 75%;
        }
        p {
          margin: 1.5rem 0;
          width: 70%;
        }
      }
      .introduction-section-media {
        width: 45%;

        img {
          width: 100%;
        }
      }
    }
  }

  //   end of introduction section

  // ----------------------------------------------------------
  // 04 keypoints section
  // ----------------------------------------------------------

  section.keypoints-section {
    background: lighten($theme-blue, 50);
    padding: 2rem 0;

    .keypoints-section-contents {
      width: 90%;
      margin: auto;

      display: flex;
      gap: 3rem;

      .keypoint {
        display: flex;
        gap: 1rem;

        flex: 1;

        h5 {
          font-size: 0.7rem;
          font-weight: 300;
        }

        h3 {
          font-size: 1rem;
          line-height: 1;

          margin: 0.5rem 0;
        }

        p {
          font-size: 0.8rem;
        }
      }
    }
  }

  //   end of keypoints section

  // ----------------------------------------------------------
  // 05 why Hitouch
  // ----------------------------------------------------------

  section.why-us-section {
    padding: 2rem 0;

    .why-us-section-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .why-us-section-header {
        margin: 0 0 1rem 0;
      }

      .why-us-section-features {
        width: 100%;
        margin-top: 2rem;

        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .feature {
          width: 30%;

          display: flex;
          align-items: center;
          gap: 0.8rem;

          h3 {
            font-size: 1.3rem;
            line-height: 1;

            margin: 0.5rem 0;
          }

          p {
            font-size: 0.8rem;
          }
        }
      }
    }
  }

  //   end of why hitouch section

  // ----------------------------------------------------------
  // 06 Call to action
  // ----------------------------------------------------------

  section.call-to-action-banner {
    padding: 2rem 0;

    display: grid;
    place-content: center;

    .call-to-action-banner-content {
      background: $theme-blue;
      color: #fff;

      padding: 3rem;

      border-radius: 0.5rem;

      display: flex;
      align-items: center;
      gap: 2rem;

      .text {
        flex: 9;

        h1,
        h5 {
          line-height: 1;
          margin-bottom: 0.5rem;
        }
      }
      .cta {
        flex: 2;

        .btn {
          background: #fff;
          color: $theme-blue;

          &:hover {
            background: $theme-black;
            // color: ;
          }
        }
      }
    }
  }
}
