#wrapper {
  // ----------------------------------------------------------
  // 03 introduction section
  // ----------------------------------------------------------
  section.introduction-section {
    .introduction-section-content {
      padding: 2rem 1rem;

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;

      @media only screen and (max-width: 850px) {
        flex-direction: column-reverse;
      }

      .texts {
        flex: 1;

        header.introduction-section-header {
          h1 {
            width: 75%;

            @media only screen and (max-width: 850px) {
              width: 100%;
            }
          }

          p {
            margin: 1.5rem 0;
            width: 70%;

            @media only screen and (max-width: 850px) {
              width: 100%;
            }
          }
        }
      }

      .introduction-section-media {
        width: 45%;

        @media only screen and (max-width: 850px) {
          width: 100%;
        }

        img {
          width: 100%;
        }
      }
    }
  }

  //   end of introduction section

  // ----------------------------------------------------------
  // 04 keypoints section
  // ----------------------------------------------------------

  section.keypoints-section {
    background: lighten($theme-blue, 50);
    padding: 2rem 1rem;

    .keypoints-section-contents {
      width: 90%;
      margin: auto;

      display: flex;
      gap: 3rem;

      @media only screen and (max-width: 850px) {
        width: 100%;
        flex-direction: column;
      }

      .keypoint {
        display: flex;
        gap: 1rem;

        flex: 1;

        h5 {
          font-size: 0.7rem;
          font-weight: 300;
        }

        h3 {
          font-size: 1rem;
          line-height: 1;

          margin: 0.5rem 0;
        }

        p {
          font-size: 0.8rem;
        }
      }
    }
  }

  //   end of keypoints section

  // ----------------------------------------------------------
  // 05 why Hitouch
  // ----------------------------------------------------------

  section.why-us-section {
    padding: 2rem 1rem;

    .why-us-section-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .why-us-section-header {
        margin: 0 0 1rem 0;
      }
      .why-us-section-media {
        img {
          width: 100%;
        }
      }

      .why-us-section-features {
        width: 100%;
        margin-top: 2rem;

        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        @media only screen and (max-width: 850px) {
          flex-direction: column;
        }

        .feature {
          width: 30%;

          display: flex;
          align-items: center;
          gap: 0.8rem;

          @media only screen and (max-width: 850px) {
            width: 100%;
          }

          h3 {
            font-size: 1.3rem;
            line-height: 1;

            margin: 0.5rem 0;
          }

          p {
            font-size: 0.8rem;
          }
        }
      }
    }
  }

  //   end of why hitouch section

  // ----------------------------------------------------------
  // 06 Call to action
  // ----------------------------------------------------------

  section.call-to-action-banner {
    padding: 2rem 1rem;

    display: grid;
    place-content: center;

    .call-to-action-banner-content {
      background: $theme-blue;

      padding: 6rem;

      border-radius: 0.5rem;

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;

      @media only screen and (max-width: 850px) {
        flex-direction: column;
        padding: 3rem;
        margin: auto;
      }

      .text {
        flex: 6;

        @media only screen and (max-width: 850px) {
          width: 100%;
        }

        h3,
        h5 {
          line-height: 1;
          color: #fff;
        }
        h5 {
          margin-bottom: 1rem;
        }
        h3 {
          width: 80%;

          @media only screen and (max-width: 850px) {
            width: 100%;
          }
        }
      }
      .cta {
        flex: 2;

        .btn {
          background: #fff;
          color: $theme-blue;

          &:hover {
            background: $theme-black;
            // color: ;
          }
        }
      }
    }
  }

  //   end of call to action banner

  // ----------------------------------------------------------
  // 07 how it works
  // ----------------------------------------------------------

  .how-it-works-section {
    padding: 2rem 0;

    .how-it-works-section-content {
      .how-it-works-section-header {
        text-align: center;
        margin-bottom: 2rem;
      }
      .steps {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;

        .step {
          width: 300px;
          text-align: center;

          h5 {
            color: $theme-blue;
          }
        }
      }
      .btn {
        display: block;
        margin: 3rem auto;

        width: max-content;

        &:hover {
          background: lighten($theme-blue, 40);
        }
      }
    }
  }

  //   end of how it works
}
