h1 {
  font-size: 3.5rem;
  font-family: "Abyssinica SIL", san-serif;
}
h2 {
  font-size: 2.8rem;
  font-family: "Abyssinica SIL", san-serif;
}
h3 {
  font-size: 1.8rem;
  font-family: "Abyssinica SIL", san-serif;
}
h4 {
  font-size: 1.2rem;
  font-family: "Abyssinica SIL", san-serif;
}
