@font-face {
  font-family: themeFont;
  src: local("themeFont"), url("../assets/fonts/Poppins-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: themeFont;
  src: local("themeFont"), url("../assets/fonts/Poppins-Medium.ttf");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: themeFont;
  src: local("themeFont"), url("../assets/fonts/Poppins-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
}

// @font-face {
//   font-family: themeFont;
//   src: local("themeFont"), url("../assets/fonts/Poppins-Bold.ttf");
//   font-style: normal;
//   font-weight: bold;
// }

* {
  font-family: themeFont;
}

h1 {
  font-size: 3rem;
  font-family: themeFont;

  @media only screen and (max-width: 851px) {
    font-size: 2.5rem;
    line-height: 1.1;
  }
}

h2 {
  font-size: 2.5rem;

  @media only screen and (max-width: 851px) {
    font-size: 1.9rem;
  }
}

h3 {
  font-size: 1.8rem;

  @media only screen and (max-width: 851px) {
    font-size: 1.2rem;
  }
}

h4 {
  font-size: 1.2rem;

  @media only screen and (max-width: 851px) {
    font-size: 1rem;
  }
}

p {
  font-size: 1rem;
}
