// imports
@import "./scss/variables";
@import "./scss/types";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 1240px;
  margin: auto;
}

.btn {
  display: inline-block;
  padding: 0.7rem 1.6rem;

  border-radius: 0.25rem;

  font-size: 1rem;
  font-weight: 600;
  text-align: center;

  cursor: pointer;
  transition: 0.3s all;

  border: none;
  outline: none;

  &.btn-primary {
    background: $theme-blue;
    color: #fff;

    &:hover {
      background: #fff;
      color: #000;
      border-color: #fff;
    }
  }

  &.btn-secondary {
    background: none;
    border: 2px solid lighten($theme-blue, 45);

    color: $theme-black;

    &:hover {
      background: $theme-blue;
      color: #fff;
      border-color: $theme-blue;
    }
  }
}

#wrapper {
  width: 100%;
  margin: auto;

  position: relative;

  // ----------------------------------------------------------
  // 01 header, nav & menu
  // ----------------------------------------------------------

  header.main-header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    padding: 1rem 0;

    z-index: 99;

    transition: 0.3s ease-in-out;

    &.active {
      position: fixed;
      background: #fff;

      animation: fix 0.3s ease-in-out;

      @keyframes fix {
        from {
          top: -90px;
        }
        to {
          top: 0;
        }
      }

      .container {
        na.navbar {
          ul.navlinks {
            a {
              color: #fff;
            }
          }
        }
      }
    }

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      a.logo {
        cursor: pointer;
        flex: 1;
        padding: 0.5rem;

        display: block;

        background-image: url("../assets/logo-white.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50% 50%;
        width: 220px;
        height: 55px;

        &.active {
          background-image: url("../assets/logo-black.png");
        }

        @media only screen and (max-width: 851px) {
          width: 30%;
        }
      }

      nav.navbar {
        flex: 9;

        display: flex;
        align-items: center;
        justify-content: end;
        gap: 5rem;

        @media only screen and (max-width: 851px) {
          position: fixed;
          left: 0;
          top: -100vh;

          height: 92.5vh;
          width: 100%;

          flex-direction: column;
          justify-content: center;

          background: lighten($theme-blue, 50);

          transition: 0.4s ease-in-out;
        }

        &.active {
          ul.navlinks {
            a {
              color: #000;
            }
          }
          .action {
            .btn-secondary {
              border-color: lighten($theme-blue, 45);
              color: #000;

              &:hover {
                color: #fff;
                border-color: $theme-blue;
              }
            }
          }
        }
        ul.navlinks {
          @media only screen and (max-width: 851px) {
            display: flex;
            flex-direction: column;
            align-items: center;
          }

          a {
            color: #fff;
            font-weight: 600;
            padding: 0.5rem 0.2rem;
            margin: 0 1rem;

            cursor: pointer;

            border-bottom: 3px solid #00000000;

            @media only screen and (max-width: 851px) {
              color: #000;
            }

            &:hover {
              border-color: #00afef;
            }
          }
        }
        .action {
          display: flex;
          gap: 1rem;

          .btn-secondary {
            border-color: #a7a7a755;
            color: #fff;

            @media only screen and (max-width: 851px) {
              color: #000;
            }

            &:hover {
              border-color: $theme-blue;
            }
          }
        }
      }
      div.menu {
        outline: none;
        background: none;
        border: none;

        position: absolute;
        top: 20%;
        right: 3%;

        display: flex;
        align-items: center;
        flex-direction: column;

        padding: 1rem 0;

        transition: all 0.2s linear;

        z-index: 5;

        cursor: pointer;

        &.active {
          .stroke {
            background: $theme-black;
          }
          .text {
            color: $theme-black;
          }
        }

        .stroke {
          width: 30px;
          height: 4px;

          border-radius: 9rem;

          background: #fff;
          margin-bottom: 4px;

          transition: all 0.2s linear;
        }

        .text {
          font-size: 0.7rem;
          font-weight: 600;
          text-transform: uppercase;
          line-height: 1;

          text-align: center;

          color: #fff;
          transition: all 0.2s linear;
        }

        &.open {
          .stroke {
            &:first-of-type {
              transform: rotate(45deg) translate(0px, -1px);
            }
            &:nth-child(2) {
              background: $theme-blue;
              transform: rotate(-45deg) translate(6px, -6px);
            }
          }
          .text {
            color: #000;
          }
        }

        @media only screen and (min-width: 851px) {
          display: none;
        }
      }
    }
  }
  //   end of header section

  // ----------------------------------------------------------
  // 02 hero & banner section
  // ----------------------------------------------------------

  section.hero-section {
    width: 100%;
    height: 100vh;
    max-height: 1200px;
    overflow: hidden;

    display: flex;
    align-items: center;

    position: relative;

    background-color: transparent;
    background-image: linear-gradient(25deg, #063485 6%, #2155951f 48%);
    opacity: 1;

    video,
    img.hero-placeholder {
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
      z-index: -1;
    }

    .container {
      position: relative;
      width: 100%;
      height: 100%;

      top: 0;
      left: 0;

      z-index: 1;

      .heading-text {
        position: absolute;
        bottom: 10%;
        left: 0;

        width: 100%;

        h1 {
          max-width: 600px;
          padding: 1rem;
          margin-bottom: 1rem;

          color: #fff;

          line-height: 1;
        }

        .cta-container {
          padding: 1rem;

          .btn:first-of-type {
            margin-right: 0.2rem;
          }
        }
      }
    }
  }

  // end of hero section

  // ----------------------------------------------------------
  // 03 services & our help
  // ----------------------------------------------------------

  section.services-section {
    margin: 5rem 0;

    header.services-header {
      width: 70%;
      margin: 0 auto;

      @media only screen and (max-width: 851px) {
        width: 100%;
      }

      h1 {
        margin: 2rem auto;
        text-align: center;
      }

      p {
        text-align: center;
      }
    }

    .services-boxes {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1rem;

      margin: 5rem auto;

      .service-box {
        padding: 2rem;
        border-radius: 0.5rem;

        width: 280px;

        &.study-visa {
          background: #2d69f0;
        }

        &.work-visa {
          background: #dd246e;
        }

        &.tourist-visa {
          background: #8007e6;
        }

        &.business-visa {
          background: #0cae74;
        }

        .icon {
          padding: 2rem;

          img {
            width: 64px;
          }
        }

        .texts {
          color: #fff;

          h3 {
            margin-bottom: 1.4rem;
          }
        }
      }
    }
  }

  // end of service section

  // ----------------------------------------------------------
  // 04 special section
  // ----------------------------------------------------------

  section.special-section {
    margin: 5rem 0;

    .contents {
      display: flex;
      align-items: center;

      @media only screen and (max-width: 851px) {
        flex-direction: column;
      }

      .left {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;

        @media only screen and (max-width: 851px) {
          width: 90%;
          margin: 0 auto 2rem;
        }

        .main-image {
          height: 440px;

          position: relative;
        }

        img {
          max-width: 350px;
          border-radius: 0.3rem;
        }

        p.ratings {
          position: absolute;
          left: -35%;
          top: 20%;

          font-size: 1.2rem;

          transform: rotate(90deg);
        }

        .join-now {
          position: absolute;
          bottom: 0;
          right: 10%;
        }
      }
      .right {
        flex: 1;

        @media only screen and (max-width: 851px) {
          width: 80%;
          margin: auto;
        }

        header.special-section-header {
          h1 {
            @media only screen and (max-width: 851px) {
              text-align: center;
            }
            span {
              color: $theme-blue;
            }
          }

          p {
            width: 60%;
            margin: 2rem 0;

            @media only screen and (max-width: 851px) {
              width: 100%;
            }
          }
        }
      }
    }
  }

  // end of special section

  // ----------------------------------------------------------
  // 05 students, agents, & schools
  // ----------------------------------------------------------

  section.platform-section {
    width: 100%;

    background: lighten($theme-blue, 50);

    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      padding: 5rem 0;

      header.platform-header {
        width: 70%;
        margin: 0 auto;

        @media only screen and (max-width: 851px) {
          width: 90%;
        }

        h1 {
          text-align: center;
        }

        p {
          text-align: center;
          margin: 1rem auto;
        }
      }

      #platform-slider {
        width: 80%;

        .glide__arrow {
          img {
            width: 32px;
          }
        }
        .glide__progress__bar {
          height: 2px;
          background: $theme-blue;
          border-radius: 0.5rem;
        }

        .glide__slide {
          width: 90%;
          margin: auto;

          @media only screen and (max-width: 850px) {
            width: 100%;
          }

          .contents {
            display: flex;
            align-items: center;
            gap: 3rem;

            @media only screen and (max-width: 850px) {
              flex-direction: column;
            }

            border-radius: 0.5rem;

            padding: 2rem;

            .img {
              height: 380px;
              border-radius: 0.5rem;
              flex: 1;
              display: flex;
              justify-content: end;

              img {
                max-width: 350px;
                border-radius: 0.3rem;
                object-fit: contain;
              }
            }

            .texts {
              flex: 2.3;
            }

            p {
              margin: 2rem 0;
              width: 80%;
            }
          }
        }
      }
    }
  }

  // end of students, agents,& schools /platform section

  // ----------------------------------------------------------
  // 06 get started
  // ----------------------------------------------------------

  section.get-started {
    margin: 5rem 0;

    header.get-started-header {
      width: 70%;
      margin: auto;

      @media only screen and (max-width: 851px) {
        width: 90%;
      }

      h1 {
        text-align: center;
      }

      p {
        margin: 2rem auto;
        text-align: center;
      }
    }
    .categories {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;

      margin: 3rem auto;

      @media only screen and (max-width: 851px) {
        flex-direction: column;
      }

      .category {
        width: 400px;
        height: 250px;
        border-radius: 0.3rem;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        background: #00000050;

        transition: 0.3s;

        position: relative;
        overflow: hidden;

        &:hover {
          background: #00000080;
        }

        img {
          height: 100%;
          width: 100%;
          position: absolute;
          z-index: -1;
          transition: 0.3s;
        }

        h3 {
          text-align: center;
          color: #fff;
          margin: 1rem 0;
        }

        .btn {
          border: 2px solid #ffffff50;
          color: #fff;

          &:hover {
            background: #fff;
            color: #000;
            border-color: #fff;

            & + img {
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }

  // end of get started section

  // ----------------------------------------------------------
  // 07 statistics/analysis section
  // ----------------------------------------------------------

  section.why-us {
    color: $theme-black;
    .content {
      background: $theme-blue;
    }
  }

  // ----------------------------------------------------------
  // 08 statistics/analysis section
  // ----------------------------------------------------------

  section.milestones {
    margin: 5rem auto;

    header.milestones-header {
      width: 70%;
      margin: auto;

      @media only screen and (max-width: 851px) {
        width: 90%;
      }

      h1 {
        text-align: center;
      }
      p {
        text-align: center;
        margin: 1rem 0;
      }
    }
    .milestones-container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;

      flex-wrap: wrap;

      @media only screen and (max-width: 851px) {
        padding: 2rem;
      }

      .milestone {
        width: 200px;
        max-width: 350px;

        margin: 3rem 0;

        @media only screen and (max-width: 851px) {
          width: 45%;
        }

        img {
          width: 48px;
        }

        .texts {
          margin: 1rem 0;

          h3 {
            margin-bottom: 0.5rem;
          }
          p {
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  // end of statistics/analysis section

  // ----------------------------------------------------------
  // 09 blog section
  // ----------------------------------------------------------

  section.blog-section {
    margin: 5rem 0;

    header.blog-section-header {
      width: 70%;
      margin: auto;

      @media only screen and (max-width: 851px) {
        width: 90%;
      }

      h1 {
        text-align: center;
      }
      p {
        margin: 2rem 0;
        text-align: center;
      }
    }

    .blogs-container {
      width: 90%;
      margin: auto;

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;

      @media only screen and (max-width: 851px) {
        flex-direction: column;
      }

      .blog {
        max-width: 400px;
        border-radius: 0.3rem;

        background: #fbfbfb;
        box-shadow: 8px 14px 25px #0000002c;

        &:hover {
          .blog-banner img {
            transform: scale(1.1);
          }
        }

        .blog-banner {
          width: 100%;
          height: 170px;

          border-radius: 0.3rem;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;

          overflow: hidden;

          img {
            width: 100%;
            transition: 0.3s ease-in-out;
          }
        }
        .blog-body {
          padding: 2rem;

          header.blog-header {
            display: flex;

            position: relative;

            a.blog-title {
              font-size: 1.5rem;
              width: 80%;

              font-weight: 600;
              color: #000;

              transition: 0.3s all;

              &:hover {
                color: #2d69f0;
                text-decoration: underline;
              }
            }

            .blog-date {
              position: absolute;
              bottom: 10%;
              right: 6%;

              p {
                color: $theme-black;
                font-size: 0.8rem;
                font-style: italic;
                font-weight: 600;
              }
            }
          }
        }

        .blog-info {
          margin-top: 2rem;

          display: flex;
          align-items: center;
          justify-content: space-between;

          .blog-tag {
            font-size: 0.8rem;
            font-weight: 700;

            margin-right: 0.3rem;

            padding: 0.3rem 0.5rem;
            border-radius: 0.3rem;

            cursor: pointer;

            &.business {
              color: #0cae74;
              background: #0cae7420;
            }

            &.work {
              color: #dd246e;
              background: #dd246e20;
            }
            &.tourist {
              color: #8007e6;
              background: #0cae7420;
            }
            &.study {
              color: #2d69f0;
              background: #2d69f020;
            }
          }

          .author {
            font-size: 0.9rem;
            font-weight: 700;
            color: #2d69f0;

            cursor: pointer;
          }
        }
      }
    }
    .btn {
      display: block;
      margin: 3rem 0 0 0;
      width: max-content;
    }
  }

  // end of blog section

  // ----------------------------------------------------------
  // 10 testimonials section
  // ----------------------------------------------------------

  section.testimonials {
    margin: 5rem auto;

    header.testimonials-header {
      width: 70%;
      margin: auto;

      h1 {
        margin: 2rem auto;
        text-align: center;
      }
    }

    .my-slider-progress {
      background: #ccc;
    }

    .my-slider-progress-bar {
      background: greenyellow;
      height: 2px;
      transition: width 400ms ease;
      width: 0;
    }
    div#testimonies-slides {
      width: 100%;
      display: grid;
      place-content: center;

      ul.testimonies {
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 5rem;
        padding-left: 6rem;

        .testimony {
          display: block;

          border-radius: 0.3rem;
          box-shadow: 8px 10px 25px #00000050;

          width: 90%;

          .testimony-text {
            padding: 2rem;
            padding-bottom: 1rem;
            border-radius: 0.3rem;

            position: relative;

            p {
              z-index: 5;
            }

            img.quote-close {
              position: absolute;
              right: 6%;
              bottom: -25%;

              z-index: -2;

              opacity: 0.5;
            }
          }
          .client-deatails {
            padding: 2rem;
            padding-top: 1rem;

            .profile-image {
              margin-bottom: 1rem;

              img {
                width: 64px;
                margin: auto;
                display: block;
              }
            }

            h4 {
              text-align: center;
            }
            p {
              text-align: center;
              color: #777;
            }
          }
        }
      }
    }
  }

  // end of testimonials section

  // ----------------------------------------------------------
  // 11 contact section
  // ----------------------------------------------------------

  section.contact-us {
    header.contact-section-header {
      text-align: center;

      @media only screen and (max-width: 851px) {
        width: 90%;
      }

      h1 {
        line-height: 1;
        margin-bottom: 1rem;
      }
    }

    .content {
      display: flex;
      padding: 5rem 0;
      align-items: center;

      @media only screen and (max-width: 851px) {
        flex-direction: column;
      }

      .left-segment {
        width: 50%;
        margin: auto;

        @media only screen and (max-width: 851px) {
          width: 100%;
          margin: auto;
        }

        form {
          h3 {
            margin-bottom: 2.5rem;
            margin-left: 10%;
          }

          .input {
            width: 100%;
            padding: 0 6%;

            label {
              font-size: 1.2rem;
              display: block;
              margin-bottom: 0.5rem;
              margin-left: 5%;
            }

            input,
            textarea,
            select {
              display: block;
              width: 90%;
              margin: auto;

              padding: 1rem;
              margin-bottom: 1.5rem;

              outline: none;
              border: 1px solid $theme-blue;
              border-radius: 0.3rem;

              font-size: 1rem;

              resize: none;

              &:focus {
                background: lighten($theme-blue, 50);
              }
            }

            &.name {
              input {
                text-transform: capitalize;
              }
            }

            &.message {
              textarea {
                height: 150px;
              }
            }
          }
        }
      }
      .right-segment {
        width: 50%;
        height: 100%;

        border-left: 1px solid #e0dada;
        padding: 5rem 2rem;

        @media only screen and (max-width: 851px) {
          width: 90%;
          margin: auto;

          border: none;
        }

        h3 {
          text-align: center;
          margin-bottom: 2rem;
          text-transform: capitalize;
        }

        li.glide__slide {
          background: lighten($theme-blue, 50);
          border-radius: 1rem;
          padding: 2rem;

          display: flex;
          justify-content: center;
          align-items: center;

          h4 {
            text-align: center;
          }

          .blog {
            max-width: 400px;
            border-radius: 0.3rem;

            background: #fbfbfb;
            box-shadow: 8px 14px 25px #0000002c;

            &:hover {
              .blog-banner img {
                transform: scale(1.1);
              }
            }

            .blog-banner {
              width: 100%;
              height: 170px;

              border-radius: 0.3rem;
              border-bottom-right-radius: 0;
              border-bottom-left-radius: 0;

              overflow: hidden;

              img {
                width: 100%;
                transition: 0.3s ease-in-out;
              }
            }
            .blog-body {
              padding: 2rem;

              header.blog-header {
                display: flex;

                position: relative;

                a.blog-title {
                  font-size: 1.5rem;
                  width: 80%;

                  font-weight: 600;
                  color: #000;

                  transition: 0.3s all;

                  &:hover {
                    color: #2d69f0;
                    text-decoration: underline;
                  }
                }

                .blog-date {
                  position: absolute;
                  bottom: 10%;
                  right: 6%;

                  p {
                    color: $theme-black;
                    font-size: 0.8rem;
                    font-style: italic;
                    font-weight: 600;
                  }
                }
              }
            }

            .blog-info {
              margin-top: 2rem;

              display: flex;
              align-items: center;
              justify-content: space-between;

              .blog-tag {
                font-size: 0.8rem;
                font-weight: 700;

                margin-right: 0.3rem;

                padding: 0.3rem 0.5rem;
                border-radius: 0.3rem;

                cursor: pointer;

                &.business {
                  color: #0cae74;
                  background: #0cae7420;
                }

                &.work {
                  color: #dd246e;
                  background: #dd246e20;
                }
                &.tourist {
                  color: #8007e6;
                  background: #0cae7420;
                }
                &.study {
                  color: #2d69f0;
                  background: #2d69f020;
                }
              }

              .author {
                font-size: 0.9rem;
                font-weight: 700;
                color: #2d69f0;

                cursor: pointer;
              }
            }
          }

          .testimony {
            max-width: 350px;
            border-radius: 0.3rem;
            box-shadow: 8px 10px 35px #00000050;

            background: #fff;

            .testimony-text {
              padding: 2rem;
              padding-bottom: 1rem;
              border-radius: 0.3rem;

              position: relative;

              p {
                z-index: 5;
              }

              img.quote-close {
                position: absolute;
                right: 6%;
                bottom: -25%;

                z-index: -2;

                opacity: 0.5;
              }
            }
            .client-deatails {
              padding: 2rem;
              padding-top: 1rem;

              .profile-image {
                margin-bottom: 1rem;

                img {
                  width: 64px;
                  margin: auto;
                  display: block;
                }
              }

              h4 {
                text-align: center;
              }
              p {
                text-align: center;
                color: #777;
              }
            }
          }
        }
      }
    }
  }

  // end of testimonials section

  // ----------------------------------------------------------
  // 12 footer
  // ----------------------------------------------------------

  footer.main-footer {
    padding: 5rem;

    width: 100%;

    background: $theme-blue;
    color: #fff;

    .container {
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      gap: 3rem;

      @media only screen and (max-width: 851px) {
        flex-direction: column;
      }

      .footer-top {
        display: flex;
        justify-content: space-between;
        gap: 2rem;

        flex-wrap: wrap;

        padding-bottom: 5rem;
        border-bottom: 1px solid $theme-black;

        .company {
          flex: 1.1;

          .logo {
            a.logo {
              display: block;
              cursor: pointer;

              background-image: url("../assets/logo-black.png");
              background-repeat: no-repeat;
              background-size: contain;
              background-position: 50% 50%;
              width: 220px;
              height: 55px;
            }
          }

          p {
            margin: 1.4rem 0;
          }

          .social-icons {
            display: flex;
            gap: 0.6rem;
            align-items: center;

            .social-icon {
              display: flex;
              align-items: center;
              justify-content: center;

              padding: 0.4rem;
              border-radius: 0.3rem;

              transition: 0.3s all;

              &.youtube {
                background-color: #fc1212;

                &:hover {
                  background: #fc1212d0;
                }
              }

              &.instagram {
                background-color: #dd246e;

                &:hover {
                  background: #dd246ed0;
                }
              }
              &.website {
                background-color: #0cae74;

                &:hover {
                  background: #018859;
                }
              }
              &.facebook {
                background-color: #2d69f0;

                &:hover {
                  background: #063bb6;
                }
              }

              img {
                width: 20px;
              }
            }
          }
        }
        .immigration,
        .quick-links,
        .newsletter {
          h2.header {
            font-size: 1.8rem;
            margin-bottom: 2.5rem;
          }

          .links {
            a {
              color: #fff;

              display: block;
              padding: 0.1rem;
              margin: 0.6rem 0;

              transition: 0.3s;

              &:hover {
                color: #000;
                transform: translateX(0.6rem);
              }
            }
          }
        }
        .newsletter {
          flex: 1.8;

          form {
            display: flex;
            align-items: center;
            margin-top: 2rem;

            input {
              padding: 1rem 1.5rem;
              outline: none;
              border: 1px solid #fff;
              font-size: 1.1rem;
              border-right: none;

              background: none;

              width: 85%;
              height: 52px;

              border-radius: 0.3rem;
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;

              color: #fff;
            }
            button {
              width: 15%;
              background: $theme-black;
              outline: none;

              border-radius: 0.3rem;
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;

              height: 52px;
              border: 1px solid #fff;
              border-left: none;

              padding: 0.8rem;

              cursor: pointer;

              transition: 0.3s all;

              &:hover {
                background: lighten($theme-blue, 5);

                img {
                  transform: scale(1.3);
                }
              }

              img {
                width: 20px;
                transition: 0.3s all;
              }
            }
          }
        }
      }
      .copyright {
        text-align: center;
        font-size: 1.2rem;
      }
    }
  }

  // end of footer
}
